.builder-container {
  width: 100%;
  height: calc(100vh - 75px);
  max-width: 100%;
  max-height: 100%;
  transition-property: max-width, max-height;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  position: relative;
  user-select: none;
  overflow: hidden;
  box-shadow: rgba(48, 53, 64, 0.2) 0px 1px 6px;
}

.builder-container iframe {
  border: 0px;
  border-radius: 5px;
  opacity: 1;
}

/* .builder-container--desktop {
  border: 0px;
  border-radius: 10px;
  opacity: 1;
} */

.builder-container--mobile {
  max-width: 390px;
  max-height: 700px;
  margin-top: 25px;
  box-shadow: none !important;
}

.builder-container--mobile iframe {
  background-color: rgb(217, 220, 233);
  border: 0px;
  border-radius: 30px;
  opacity: 1;
  padding: 60px 10px 50px;
  overflow: scroll;
}

.builder-container--tablet {
  max-width: 790px;
  max-height: 700px;
  margin-top: 25px;
  box-shadow: none !important;
}

.builder-container--tablet iframe {
  background-color: rgb(217, 220, 233);
  border: 0px;
  border-radius: 30px;
  opacity: 1;
  padding: 65px 20px 50px;
  overflow: scroll;
}
