.simplebar-scrollbar::before {
  background-color: #838383 !important;
}

.cut-line-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.cut-line-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.cut-line-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.cut-line-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.cut-line-10 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

.sidebar-triangle::after {
  position: absolute;
  right: -10px;
  content: '';
  top: 15px;
  width: 20px;
  height: 20px;
  background: rgb(243, 244, 246);
  transform: rotate(45deg);
  box-shadow: 0 0 5px 3px #6a6a6a94;
}

.nav-side-background {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #08201a 74%);
}

.sub-nav-height-transition {
  overflow-y: hidden;
  max-height: 0px;
  backdrop-filter: none;
  transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1),
    max-height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
}

.sub-nav-height-transition-open {
  max-height: 800px;
  transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
    max-height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
  border-bottom: 1px solid #333;
}

.nav-sub-links-bg {
  background: #2c2c2c8a;
}

.card {
  border: 1px solid #e5e5e5;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 5%);
  border-radius: 4px;
  background: #fff;
}

.editor-wrapper-class {
  @apply appearance-none;
}

.editor-class {
  min-height: 150px;
  @apply p-2 rounded appearance-none transition duration-300 ease-in-out text-heading text-sm hover:outline-none hover:ring-0 border border-border-base hover:border-accent;
}

.checkbox-rounded + label:before {
  border-radius: 50% !important;
}

.rc-pagination-item {
  padding: 0 2px;
  width: auto !important;
}

.phone-number-class {
  width: 100% !important;
}

.phone-number-class:focus {
  @apply focus:border-accent;
}

.image-grid-col-auto {
  grid-template-columns: repeat(auto-fill, 6rem);
}

.notificationContainer {
  display: block;
  top: 50px;
  z-index: 100;
  right: 0;
  border: 1px solid #e4e4e4a4;
  border-radius: 4px;
}

.notificationContainer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08),
    0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.notificationContainer::after {
  content: '';
  position: absolute;
  width: 0.75em;
  height: 0.75em;
  background: #fff;
  border-top-left-radius: 2px;
  z-index: 0;
  transform: translateX(-50%) translateY(-45%) rotate(45deg);
  top: 0;
  right: 3%;
  box-shadow: -1px -1px 1px 0px #9bbad3a4;
}

.notificationWrapper {
  z-index: 1;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 28.25em;
}

.mailchimp {
  width: 100%;
}

.mailchimp > div {
  display: flex;
  align-items: center;
  position: relative;
  height: 110px;
}

.mailchimp > div > input {
  padding: 10px;
  outline: none;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 100px;
  max-width: 500px;
}

.mailchimp > div > div {
  position: absolute;
  bottom: 0;
}

.mailchimp > div > button {
  padding: 10px 12px;
  outline: none;
  border: 1px solid #ccc;
  background-color: rgb(45, 105, 216);
  color: white;
  font-weight: bold;
  border-left: 0;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mailchimp > div > button:hover {
  background-color: rgb(74, 122, 211);
}

@keyframes skeleton-loading {
  to {
    background-position: 100%;
  }
}

.animated-background {
  position: relative;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: infinite;
  animation-name: skeleton-loading;
  cursor: progress;
  background: #f6f6f6;
  width: 100%;
  background: linear-gradient(0.25turn, transparent, #cfcfcfd9, transparent),
    linear-gradient(#e8e8e8, #e8e8e8),
    radial-gradient(10px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: -100%;
  background-color: #e8e8e8;
}

.avatar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(#699dea, #2940a8);
}

.product-tooltip {
  color: #434343 !important;
  background-color: rgb(238, 238, 238) !important;
  border: 1px solid rgb(191, 191, 191) !important;
}

.product-tooltip-arrow {
  border-right: 1px solid rgb(191, 191, 191) !important;
  border-bottom: 1px solid rgb(191, 191, 191) !important;
}

.custom-tooltip {
  font-size: 13px !important;
}
